@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
    .Promos{
    height: 38px;
    background: rgba(28, 209, 176, 1);
    }
        .Promos p{
            padding: 10px;
            font-size: 15px;
        }
    .Titulo{
        background:rgba(0, 102, 159, 1);
        height: 101px;
        position: -webkit-sticky;
        position: sticky;
            top: 0px;
        z-index: 1;
    }
        .Titulo h1{
            font-size: 40px;
            line-height: 47px;
            padding: 28px 0px 26px 28px;
            box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
        }
    .card{
        display: flex;
        justify-content: space-evenly;
    }
        .Carta{
            background: rgba(243, 243, 243, 1);
            width: 300px;
            margin-top: 180px;
            position: relative;
        }
            .portada_bm{
                background: url(../img/portada_batman.png);
                height: 193px;
                border-radius: 15px 15px 0px 0px;
                position: relative;
            }
            .portada_hq{
                background: url(../img/portada_harleyqueen.png);
                height: 193px;
                border-radius: 15px 15px 0px 0px;
                position: relative;
            }
            .portada_ww{
                background: url(../img/bkgr_WW.png);
                height: 193px;
                border-radius: 15px 15px 0px 0px;
                position: relative;
            }
            .portada_sm{
                background: url(../img/superman_bkgr.png);
                height: 193px;
                border-radius: 15px 15px 0px 0px;
                position: relative;
            }
                .portada_bm img, .portada_ww img, .portada_sm img, .portada_hq img{
                    width: 30px;
                    position: absolute;
                        left: 21px;
                        top: 16px;
                }
            .foto_perfil{
                position: absolute;
                    left: 90px;
                    top: 128px;
                text-align: center;
                padding-top: -30PX;
            }
                .foto_perfil img{
                    height: 120px;
                    border-radius: 60px;
                    }
            .info{
                height: 536px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                padding: 74px 17px;
            }
                .info h2{
                    text-transform: uppercase;
                    font-size: 30px;
                    line-height: 35px;
                    text-align: center;
                    padding-top: 10px;
                }
                .info p{
                    font-size: 16px;
                    padding-top: 10px;
                }
                .info button{
                    margin-top: 37px;
                    background: rgba(0, 102, 159, 1);
                    height: 48.52px;
                    width: 128.78px;
                    position: absolute;
                        bottom: 10px;
                        left: 85px;
                }
                .info button a{
                    color: rgba(243, 243, 243, 1);
                    text-decoration: none;
                    font-size: 15px;
                }
footer{
    margin-top: 150px;
    height: 51px;
    background: rgba(0, 102, 159, 1);   
}
    footer p{
        color: rgba(255, 249, 249, 1);
        font-size: 16px;
        line-height: 19px;
        padding: 16px;
    }